<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>buyCar</display-name>
  <servlet>
    <servlet-name>Give</servlet-name>
    <servlet-class>Servlet.Give</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Give</servlet-name>
    <url-pattern>/Give</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelPro</servlet-name>
    <servlet-class>Servlet.DelPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelPro</servlet-name>
    <url-pattern>/DelPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertPro</servlet-name>
    <servlet-class>Servlet.insertPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertPro</servlet-name>
    <url-pattern>/insertPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getProFlex</servlet-name>
    <servlet-class>Servlet.getProFlex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProFlex</servlet-name>
    <url-pattern>/getProFlex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonCar</servlet-name>
    <servlet-class>Servlet.PersonCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonCar</servlet-name>
    <url-pattern>/PersonCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertAddress</servlet-name>
    <servlet-class>Servlet.insertAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertAddress</servlet-name>
    <url-pattern>/insertAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selAddress</servlet-name>
    <servlet-class>Servlet.selAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selAddress</servlet-name>
    <url-pattern>/selAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toMyDD</servlet-name>
    <servlet-class>Servlet.toMyDD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toMyDD</servlet-name>
    <url-pattern>/toMyDD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toMymore</servlet-name>
    <servlet-class>Servlet.toMymore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toMymore</servlet-name>
    <url-pattern>/toMymore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delAfeterBuy</servlet-name>
    <servlet-class>Servlet.delAfeterBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delAfeterBuy</servlet-name>
    <url-pattern>/delAfeterBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>needMyDD</servlet-name>
    <servlet-class>Servlet.needMyDD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>needMyDD</servlet-name>
    <url-pattern>/needMyDD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newInsertPro</servlet-name>
    <servlet-class>Servlet.newInsertPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newInsertPro</servlet-name>
    <url-pattern>/newInsertPro</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>upPro</servlet-name>
    <servlet-class>Servlet.upPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upPro</servlet-name>
    <url-pattern>/upPro</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
</web-app>